<!-- py-3 adds padding to the dark footer bar we have created so it looks thicker, mt-auto sends the footer to the end of the page -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <!-- &copy adds the copyright symbol, and make text white -->
    <span class="text-white">&copy; YelpCamp 2023 </span>
  </div>
</footer>
