<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KD's YelpCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">All Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <!-- signedInUser is a local variable created in app.js to store the user data using passport. If there is a user logged in then it
        stores the user data and if there is no user logged in then its undefined. So we are checking if there is no signedInUser then 
        we show register and login links in the navbar but if there is signedInUser then we only show logout in the navbar link -->
        <% if (!signedInUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
